<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.ibm.commons.Extension">
      <service
            class="org.openntf.xsp.starter.library.StarterLibrary"
            type="com.ibm.xsp.Library">
      </service>
   </extension>
<extension point="com.ibm.commons.Extension">
         <service
            type="com.ibm.xsp.resource.DojoModulePathResource"
            class="org.openntf.xsp.starter.resources.ModulePath" />
   </extension>
    <extension
         point="com.ibm.commons.Extension">
      <service
            class="org.openntf.xsp.starter.ssjs.StarterJavaScriptProvider"
            type="com.ibm.designer.runtime.extensions.JavaScriptProvider">
      </service>
   </extension>
   <extension point="com.ibm.commons.Extension">
      <service type="com.ibm.xsp.GlobalResourceProvider" class="org.openntf.xsp.starter.resources.ResourceProvider" />
   </extension>
    <extension point="com.ibm.commons.Extension">
         <service type="com.ibm.xsp.RequestParameters" class="org.openntf.xsp.starter.resources.RequestCustomizerFactory" />
   </extension>
   <extension point="com.ibm.commons.Extension">
         <service type="com.ibm.xsp.JavaScriptLibFactory" class="org.openntf.xsp.starter.ssjs.StarterFactory" />
   </extension>
    <extension point="com.ibm.commons.Extension">
         <service type="com.ibm.xsp.library.Contributor" class="org.openntf.xsp.starter.library.StarterContributor" />
   </extension>
   <extension point="com.ibm.commons.Extension">
         <service type="com.ibm.xsp.stylekit.StyleKitFactory" class="org.openntf.xsp.starter.themes.StarterStyleKitFactory" />
   </extension>
 <!--   <extension
          point="com.ibm.commons.Extension">
       <service
             type="com.ibm.xsp.adapter.servletFactory" class="org.openntf.xsp.starter.servlet.ServletFactory">
       </service>
    </extension>
    -->
</plugin>
